// style={{}}
.scale_container{
    
  height:auto;
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
   flex-wrap: wrap;
  padding:10px;
  margin:50px;
  column-gap: 1px;
  row-gap: 1px;


.frame {
  
  
  position:relative;
  width: 40%;
  margin: 10px auto;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: #e8d6f1;
  margin-bottom: 80px;
  padding-top: 55px;
  padding-left: 15px;
  .scale_use{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: -40px;
    button{
      width: 75px;
      height: 31px;
      flex-shrink: 0;
      border-radius: 20px;
      border-color: rgba(61, 203, 169, 0.13);
      background: rgba(61, 203, 169, 0.13);
      color: #3DCBA9;
      cursor: pointer;

      color: #3DCBA9;
        leading-trim: both;
        text-edge: cap;
        font-family: FF Nort;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
  }
  .frame__scale{
    width: 94%;
    height: 200px;
   
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 12px;
    background: #FDFBF5;
    margin-top: 30px;
    .scale_title{
      color: #1C2B48;
      text-align: center;
      font-family: Inter;
      font-size: 18.896px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 6px;
    }
    .scale_typo{
      width: 100%;
      color: #394869;
      font-family: Inter;
      font-size: 14.296px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: #394869;
      display: flex;
      padding-left: 30px;
      justify-content: flex-start;
      letter-spacing: 0.532px;
    }
      .scale__buttons{
         display: flex;
         width: 90%;
         justify-content: flex-start;
         align-items: center;
         column-gap: 10px;
         .emoji{
          width: 17.919px;
          height: 17.919px;
          flex-shrink: 0;
          border: none;
          cursor: pointer;
          margin-right:14px ;
          color:#000000;
         }
        
        .btn{
          display: flex;
          width: 25.315px;
          height: 25.315px;
          padding: 5px 8.315px 4.315px 8px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 6.329px;
          background: rgb(142, 216, 142);
          cursor: pointer;
          color: white;
          text-align: center;  
          font-family: Inter;
          font-size: 13.296px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.532px;
          
        }
      }
        .scale_rate{
          width: 90%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         row-gap: 5px;
        .rate__typo{
          color: #394869;
          font-family: Inter;
          font-size: 10.161px;
          font-style: normal;
           font-weight: 400;
           line-height: normal;
           color:#394869;
        }
      }
      
     
    
  

 .display_hover {
    position: absolute;
    top: 10px;
    right: 50px;
    visibility:hidden; /* Initially hidden */
    background-color: rgba(63, 181, 73, 0.5); /* Transparent black background */
    padding: 10px;
    
 }
  }
  
  .frame__scale.hovered  {
    z-index: -99;
    opacity: 0.6; /* Set the opacity to 50% when Element 2 is displayed */
  }
  
  .frame__scale.hovered  .diplay_hover {
    visibility:visible;
    opacity: 1;
    padding: 10px;
    
    button{
      border: 1px solid green;
      width: 90px;
      height: 30px;
      background-color: green;
      z-index: 110;    
      cursor: pointer;
      color: white;
      opacity: 1;
      border-radius: 13px;
    }
  }
}
}